{#
/**
 * @file
 * Student spotlight node view template.
 */
#}
<article{{ attributes.addClass(['ph-node', 'ph-node--student-spotlight']) }}>
  {% if content.field_featured_media|render %}
    <div class="ph-node__hero">{{ content.field_featured_media }}</div>
  {% endif %}
  <div class="ph-node__layout">
    <div class="ph-node__main">
      {% if content.field_quote|render %}
        <blockquote class="ph-node__body">{{ content.field_quote }}</blockquote>
      {% endif %}
      {% if content.field_description|render %}
        <div class="ph-node__body">{{ content.field_description }}</div>
      {% endif %}
    </div>
    <aside class="ph-node__sidebar">
      <div class="ph-node__meta">
        {{ content.field_graduate }}
      </div>
    </aside>
  </div>
  {{ content.links }}
</article>
