{#
/**
 * @file
 * Instructor profile view template.
 */
#}
<article{{ attributes.addClass(['ph-node', 'ph-node--profile', 'ph-node--instructor']) }}>
  {% if content.field_image|render %}
    <div class="ph-node__hero">{{ content.field_image }}</div>
  {% endif %}
  <div class="ph-node__layout">
    <div class="ph-node__main">
      {% if content.field_biography|render %}
        <div class="ph-node__body">{{ content.field_biography }}</div>
      {% endif %}
    </div>
    <aside class="ph-node__sidebar">
      <div class="ph-node__meta">
        {{ content.field_name }}
        {{ content.field_email }}
        {{ content.field_portfolio }}
        {{ content.field_linkedin }}
        {{ content.field_github }}
        {{ content.field_instagram }}
        {{ content.field_game }}
        {{ content.field_boss_phase }}
      </div>
    </aside>
  </div>
</article>
